#page-called-form {
    width: 100vw;
    height: 100vh;
}

#page-called-form .page-header .header-content {
    margin-bottom: 6.4rem;
}

#page-called-form main{
    background-color: white;
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
    overflow: hidden;
}

#page-called-form main fieldset{
    border: 0;
    padding: 0 2.4rem;
}

#page-called-form main fieldset + fieldset{
    margin-top: 6.4rem;
}

#page-called-form main fieldset legend{
    font: 700 2.4rem "Roboto Slab";
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid rgb(205, 205, 205);
}

#page-called-form .input-block label{
    font-size: 1.4rem;
}

#page-called-form .input-block input {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid rgb(205, 205, 205);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem "Roboto Slab";
}

#page-called-form .input-block textarea {
    width: 100%;
    height: 14rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid rgb(205, 205, 205);
    outline: 0;
    resize: vertical;
    padding: 1.2rem 1.6rem;
    font: 1.6rem "Roboto Slab";
}

#page-called-form .input-block select {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid rgb(205, 205, 205);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem "Roboto Slab";
}

#page-called-form main footer {
    padding: 2rem 2.4rem;
    border-top: 1px solid rgb(205, 205, 205);
    margin-top: 0.4rem;
}

#page-called-form main footer button {
    width: 100%;
    height: 5.6rem;
    background-color: forestgreen;
    color: white;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem "Roboto Slab";
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 1.2rem;
}
#page-called-form main footer  button:hover {
    background-color: darkgreen;
}

@media (min-width: 700px) {
    #page-called-form{
        max-width: 100vw;
    }
}