#page-called-list main {
    margin: 0.8rem  auto;
    width: 90%;
}

.called-item {
    padding: 0.9rem;
    background-color: rgb(220, 218, 218);
    border: 1px solid rgb(222, 222, 222);
    border-radius: 0.8rem;
    margin-top: 1.4rem;
    overflow: hidden;
}

.called-item div span{
    margin: 0.1rem;
    padding: 0.4rem;
    border-radius: 0.8rem;
}

#spanCategories {
    background-color: #40b84e;
}

#spanManifest{
    background-color: #33917b;
}

#spanSetor{
    background-color: #1f8ba7;
}

#spanCategories:empty{
    background-color: rgb(220, 218, 218);
}

#spanManifest:empty{
    background-color: rgb(220, 218, 218);
}

#spanSetor:empty{
    background-color: rgb(220, 218, 218);
}

.called-item span{
    font-size: 1.2rem;
}

.called-item > p{
    padding: 0.2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.called-item header {
    padding: 0.8rem 2rem;
    text-align: center;
}

.called-item footer{
    padding: 1.0rem 0.1rem;
    text-align: center;
    border-top: 1px solid #cdc9c9;
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.called-item footer p {
    display: block;
}

.called-item footer button{
    width: 5rem;
    height: 5rem;
    border:0;
    border-radius: 0.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    background-color: green;
}

.called-item footer button:hover {
    background-color: darkgreen;
}

@media (min-width: 700px) {
    #page-called-list{
        max-width: 100vw;
    }
    #page-called-list main{
        padding: 32px 0;
        max-width: 740px;
        margin: 0 auto;
    }
}