@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

#page-landing{
    font-family: 'Roboto Slab', serif;
    width: 100vw;
    height: 40vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img{
    height: 40rem;
}

.logo-container{
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2{
    text-align: center;
    /*font-weight: 500;*/
    font-size: 2.4rem;
    line-height: 5rem;
    margin-top: 0.8rem;
    /*margin-left: 18.5rem;*/
}

.buttons-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 700px){
    .buttons-container {
        width: 100vw;
        margin-left: 9rem;
    }
    .h2Titulo{
        width: 100vw;
        margin-left: 9rem;
    }
}