#page-landing{
    width: 100vw;
    height: 40vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img{
    height: 40rem;
}

.logo-container{
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2{
    text-align: center;
    /*font-weight: 500;*/
    font-size: 2.4rem;
    line-height: 5rem;
    margin-top: 0.8rem;
    /*margin-left: 18.5rem;*/
}

.buttons-container {
    display: flex;
    justify-content: center;
    /*margin: 3.2rem 0*/
}

.buttons-container a {
    width: 30rem;
    height: 7rem;
    border-radius: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: white;
    margin: 10px;
    background-color: rgb(63, 144, 189);
}

.buttons-container a:hover{
    color: black;
    background-color: rgb(116, 186, 227);
}

@media (max-width: 700px){
    .buttons-container {
        width: 100vw;
        margin-left: 9rem;
    }
    .h2Titulo{
        width: 100vw;
        margin-left: 9rem;
    }
}