@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@450&display=swap');

:root {
    font-size: 60%;
}

* {
    /*font-family: 'Roboto Slab', serif;*/
    font-family: 'Inter', OpenSans, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background-color: rgb(226, 226, 226);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button {
    font: 500 1.6rem Arial;
}

.container {
    width: 90vw;
}

@media (min-width: 700px){
    :root {
        font-size: 62.5%;
    }
}
